# Binaries
/server
*.exe
*.test

# Environment variables
.env*
!.env.example

# Logs
*.log

# Database & runtime files
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# OS & Editor files
.DS_Store
.vscode/
.idea/
